body {
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: Segoe UI, Arial, sans-serif;
    min-width: 385px;
    max-width: 535px;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    color: #1E0FBE;
    text-decoration: none;
}

#header{
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    padding-bottom: 10px;
}
.favicon{
    display: inline-block;
    height: 16px;
    width: 16px;
}

.title{
    cursor:pointer;
    color: #1E0FBE;
    display: inline-block;
    font-weight: bold;
    font-size: 12pt;
    text-align: left;
    text-decoration: underline;
    width: 90%;
    margin-left:4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fulltext {
    font-size: 11pt;
    line-height: 11px;
    text-align: justify;
}

.tracked_elements{
}

.tracked_element{
    line-height: 16px;
    margin: 0 auto;
}

.show_more{
    color: #404040;
    font-size: 9pt;
    text-align: left;
    float: left;
}

.update, .element_update {
    color: #808080;
    font-size: 8pt;
    text-align: right;
    float: right;
}
.element_update{
    margin-left:5px;
}