body {
    background-color: #ffffff;
    color: #000000;
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 13pt;
    text-align: center;
    line-height: 1.5;
    min-width: 385px;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.fulltext {
    font-size: 9pt;
    text-align: justify;
}

.update {
    font-size: 8pt;
    color: #808080;
}

img {
    margin: 5px;
    border: 2px solid transparent;
    vertical-align: middle;
    width: 75px;
    height: 75px;
  }
