body {
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: Segoe UI, Arial, sans-serif;
    min-width: 385px;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

#header{
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
    padding-bottom: 10px;
}
.favicon{
    display: inline-block;
    height: 16px;
    width: 16px;
}

.title{
    display: inline-block;
    font-weight: bold;
    font-size: 16pt;
    margin-right: 5px;
    margin-left: 5px;
    text-align: left;
}

.tracked_elements{
    
}

.tracked_element{
    line-height: 16px;
}

a{
    color: red;
    text-decoration: none;
}

.update {
    color: #808080;
    font-size: 8pt;
    text-align: right;
}

.fulltext {
    font-size: 9pt;
    line-height: 11px;
    text-align: justify;
}

